*{
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: blue;
}

input{
    width:50%;
    padding:10px;
    border-radius: 10px;
}

button{
    width:50%;
    padding:10px;
    border-radius: 10px;
    width: 80px;
    height: 40px;
}

.pokequien{
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content:  center;
}

.pokequien img{
    height: 90px;
    width: 550px;
    padding: 50px;
}
.contenedor1{
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 4fr 40px 4fr;
    grid-template-rows:  80px 480px  ; 
    padding: 4%;
    padding-left: 20%;
    padding-right: 20%;
}

.contenedor1 .caja1{
    background-color: red;
}

.Arriba1{ 
    display: flex;
    background-color: red;
    grid-column-start: 1;
    grid-column-end: 3;
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
    border-color: black;
    border-style:groove;
    justify-content: left;
    flex-wrap: wrap;
    padding: 10px;
    position: relative;
}

.Arriba1-botonazul{ 
    background-color: blue;
    width: 50px;
    height: 50px;
    border-radius: 90%;
    border-color: white;
    border-style:groove;  
}

.Arriba1-botoncito1{ 
    background-color: red;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border-color: white;
    border-style:groove;
}

.Arriba1-botoncito2{ 
    background-color: yellow;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border-color: white;
    border-style:groove;
}

.Arriba1-botoncito3{ 
    background-color: green;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border-color: white;
    border-style:groove;
}

.caja1{ 
    background-color: red;
    display: flex;
    grid-row: 2;
    justify-content: center;
    text-align: center;
    position: relative;
    border-color: black;
    border-style:groove;
}

.caja1-pokecarta{ 
    background-color: white;
    width: 80%;
    height: 60%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-color: rgb(175, 132, 132);
    border-style:groove;
}

.caja1-pokecarta img{
    height: 60%;
    width: 70%;
    padding: 0px;
}


.caja2{
    background-color: red;
    grid-row: 2;
    border-color: black;
    border-style:groove;
    border-radius: 5%;
}

.caja2-rayas1{
    background-color: red;
    border-color: black;
    border-style:groove;
}

.caja2-rayas2{
    background-color: red;
    border-color: black;
    border-style:groove;
}

.caja2-rayas3{
    background-color: red;
    border-color: red;
    border-style:groove;
    height: 370px;
}

.caja3{
    background-color:red;
    grid-row: 2;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    border-color: black;
    border-style:groove;
}

.caja3-pokedatos{ 
    background-color: rgb(139, 128, 128);
    color:black;
    border-color: rgb(175, 132, 132);
    border-style:groove;
    height: 40%;
    width: 70%;
    padding: 10px;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 10%;
}

.caja3-pokestats div{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding: 3px;
    font-size: 15px;
}
.caja3-botonesazul{ 
    height: 15%;
    width: 70%;
    padding: 10px;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2,1fr);
}

.caja3-botonesazul div{
    border-color: rgb(103, 177, 238);
    background-color: aquamarine;
    border-style:groove;
    grid-gap: 15px;
    border-radius: 4px;
}

.caja3-botonesnegro{ 
    background-color: rgb(32, 30, 30);
    border-color: rgb(99, 98, 98);
    border-style:groove;
    height: 3%;
    width: 10%;
    top: 70%;
    left: 80%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 15%;
}
.caja3-botonesnegro1{ 
    background-color: rgb(32, 30, 30);
    border-color: rgb(99, 98, 98);
    border-style:groove;
    height: 3%;
    width: 10%;
    top: 70%;
    left: 65%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 15%;
}
.caja3-botonesblancos{ 
    height: 5%;
    width: 25%;
    padding: 10px;
    top: 80%;
    left: 27%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1,1fr);
}

.caja3-botonesblancos div{
    border-color: rgb(245, 246, 247);
    background-color: rgb(236, 248, 244);
    border-style:groove;
    border-radius: 4px;
}

.caja3-botonamarillo{ 
    background-color: rgb(233, 233, 32);
    width: 25px;
    height: 25px;
    top: 80%;
    left: 80%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    border-color: rgb(165, 150, 10);
    border-style:groove;
}


.caja3-pokedatos1{ 
    background-color: rgb(139, 128, 128);
    color:black;
    border-color: rgb(175, 132, 132);
    border-style:groove;
    height: 10%;
    width: 30%;
    top: 90%;
    left: 30%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 10%;
}


.caja3-pokedatos2{ 
    background-color: rgb(139, 128, 128);
    color:black;
    border-color: rgb(175, 132, 132);
    border-style:groove;
    height: 10%;
    width: 30%;
    top: 90%;
    left: 70%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 10%;
}